/* Default CSS */

html, body, #root, .root-child {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}
